{
	"presets": [
		"@babel/preset-typescript"
	],
	"plugins": [
		"@babel/plugin-syntax-bigint",
		"./babel-plugin-loop-optimizer",
		"@babel/plugin-proposal-optional-chaining"
	],
	"comments": false,
	"ignore": [
		"src_ts/**/*.d.ts"
	]
}