[submodule "wasm_source/lodepng"]
	path = wasm_source/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "wasm_source/nanort"]
	path = wasm_source/nanort
	url = https://github.com/lighttransport/nanort
[submodule "wasm_source/meshoptimizer"]
	path = wasm_source/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "wasm_source/zstd"]
	path = wasm_source/zstd
	url = https://github.com/facebook/zstd
